:root {
    --color0: #1f1c1c;
    --color1: #2b2c35;
    --color2: #374855;
    --color3: #823f03;
    --color4: #d49a41;
    --color5: #a0a0a0;
    --widgetWidth: 200px;

    --workoutBoxWidth: 35%;
  }

body {text-align: center; font-family: 'Open Sans', sans-serif; background-color: var(--color0);margin: 0px;}
h1 {color: var(--color4); margin:auto; display: block; }
h2 {color: var(--color5); font-size: 180%;}
h3 {color: var(--color4); font-size: 150%;}
h4 {color:var(--color5);}
#app {background-color: var(--color0); width: 100%; text-align: center; display: flex; flex-wrap: wrap; justify-content: space-evenly;}
.counter {width: var(--workoutBoxWidth); margin: 2%; background-color: var(--color1);}
.plus {background-color: var(--color1);}
.minus {background-color: var(--color2);}
img {width: 80%; height: 80%; filter: invert(.8);}

select {font-size: 20px; background-color: var(--color2); color: var(--color4);}