:root {
    --color0: #222831;
    --color1: #393e46;
    --color2: #d65a31;
    --color3: #eeeeee;
    --widgetWidth: 200px;
  }

body {font-family: 'Open Sans', sans-serif; background-color: var(--color0);margin: 0px;}
h1 {color: var(--color2); margin:auto; display: block;}
h3 {color: var(--color3);}
#app {background-color: var(--color1); width: var(--widgetWidth); text-align: center;}
.buttons {width: 200px; height: 200px; display: flex; font-size: 2em;}
.button {width: 50%; height: 100%; opacity: 0.5; }
.button:hover{cursor: pointer;}
.plus {background-color: var(--color1);}
.minus {background-color: var(--color2);}
img {width: 200px; height: 200px; filter: invert(.8);}